<div class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title> {{ usuario }}</mat-card-title>
            <mat-card-subtitle>{{ perfil }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="100%" height="100%"/>
    </mat-card>
</div>