
<mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile>
        <div class="controles-container">
            <div style="text-align: center"><h2>DATOS GENERALES</h2><br/></div>
            <mat-form-field>
                <input matInput placeholder="Nombres" [(ngModel)]="cliente.nombres" type="text" required>
              </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Apellidos" [(ngModel)]="cliente.apellidos" required>
            </mat-form-field>    
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" [(ngModel)]="cliente.fechaNac" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="DNI" [(ngModel)]="cliente.dni" type="tel" required>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
       <div class="controles-container">
          <div style="text-align: center"><h2>DATOS DEL USUARIO</h2><br/></div>
          <mat-form-field>
            <input matInput placeholder="Nombre de Usuario" [(ngModel)]="usuario.nombre"  required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" name="password" placeholder="contraseña" [(ngModel)]="usuario.clave"  required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Repetir contraseña" [(ngModel)]="confirmaClave" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Estado" value="ACTIVO" readonly>
           </mat-form-field>
       </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controles-container">
            <div style="text-align: center"><h2>Imagen</h2><br/></div>
            <button mat-stroked-button style="margin-bottom: 12px;" onclick="document.getElementById('flArchivo').click()">Seleccionar archivo</button>
            <input id="flArchivo" type="file" (change)="selectFile($event)"  style="display:none;" >
            <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%"/>
            <p>{{labelFile}}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>      
<mat-grid-list cols="3" rowHeight="60px">
    <mat-grid-tile colspan="3">
        <div >
            <button mat-raised-button style="margin-top: 11px;margin-right: 5px;" color="primary" (click)="operar()">Aceptar</button>
            <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
        </div>
     </mat-grid-tile>
</mat-grid-list>  


