<mat-form-field>
    <input matInput (keyup)="filter($event.target.value)" placeholder="Buscar cliente">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idCliente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idCliente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellidos">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.apellidos}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombres">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nombres}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fchNac">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fechaNac | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.dni}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openDialog(row)">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="eliminar(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator class="paginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="100" showFirstLastButtons>
</mat-paginator>

<button mat-fab color="accent" style="float: right" (click)="openDialog()">
    <mat-icon>create</mat-icon>
</button>