<mat-sidenav-container class="all-wrap" fullscreen>
    <mat-sidenav #sidenav style="width: 200px"> 
      <img src="assets/mitocode.png" width="128" style="margin-left: 20px">
      <div *ngFor="let m of menus">
        <button mat-menu-item  *ngIf="m.nombre !== 'Perfil'" (click)="sidenav.toggle()" routerLink="{{m.url}}" style="cursor: pointer">
          <mat-icon>{{m.icono}}</mat-icon>
          <span>{{m.nombre}}</span>
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-sidenav>
    
    <div class="page-wrap">
      <header role="banner">
        <mat-toolbar color="primary" class="example-toolbar" *ngIf="loginService.estaLogeado()">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
          </button>
          <h1 class="app-name">MITOCINE</h1>
          <span class="spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
            </button>
            <button mat-menu-item (click)="sidenav.opened = false" (click)="loginService.cerrarSesion()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
            </button>
          </mat-menu>
        </mat-toolbar>
      </header>
  
      <main class="content">
        <router-outlet></router-outlet>
      </main>
  
      <footer class="footer">
        MitoCode Network - 2019 | Angular CineApp
      </footer>
  
    </div>
  
  </mat-sidenav-container>
  